.comment-section {
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 95%;
}

.container {
    margin: 20px auto;
    border: 1px solid lightgray;
    width: 640px;

}

.usernameHeader {
    display: flex;
    align-items: center;
    padding: 10px;
}

.usernameHeader h2 {
    font-size: 10px;
    margin: 0 10px;
}
.usernameHeader img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.likes {
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
}

input {
    width: 90%;
    margin-left: 2%
}

.likes-and-comments .icons {
    margin-left: 10px;
    /* border: 1px solid red; */
}