.instagram-name-and-logo {
    width: 200px;
}

.searchBar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-bottom: 1px solid gray;
    margin: 20px auto;
}

.searchBar input {
    width: 200px;
}

.icons {
    margin: 0 15px;
}
